[Desktop Entry]
Type=Application
Name=MyApp
Exec=python Garrett\test2.py
Icon=C:\Users\garbe\OneDrive\Desktop\Junior Year 22-23\Spring Sem 23\CSI 460\app_icon.png
Terminal=false
